@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul{
  list-style: none;
  padding: 0;
  margin: 20px 0 0 20px;
}

.nav{
  color:#fff;
  margin-left: 20px;
}
.search-thumb{
    display: flex;
    gap: 300px;
    align-items: center;
    
    width: 100%;
    min-height: 50px;
    padding: 10px 0 10px 0;

    position: sticky;
    top: 0;
    left: 0;

    background-color: #0603ab;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);  

    margin-bottom: 20px;
    z-index: 100;

}
.search-form{
    display: flex;
    justify-content: center;

    padding: 0;
    margin: 0;
 
}


.search-button {
    float: left;
    width: 50px;
    padding: 10px;
    background-color: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
    z-index: 100;
  }
  
.search-button:hover,
.search-button:focus{
   background-color: #0b7dda;
}
  
  /* Clear floats */
  .search-form::after {
    content: "";
    clear: both;
    display: table;
  }
.fa{
    display: inline-block;
    transform: translate(0,0);

}

.fa-search::before{
    content:'\e802';
}

.search-input{
    border: 1px solid grey;
    border-right: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 300px;
    z-index: 100;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 12px;
  padding: 0 15px;

  margin-left: auto;
  margin-right: auto;

}

.photo-card {
  min-height: 276px;;
}

.photo-card__image:hover {
  transform: scale(1.03);
  z-index: -1;
}

.photo-card__image {
  height: 100%;
  width: 100%;
  object-fit: cover;

  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  transition: transform var(--animation-duration) var(--timing-function);
}

.photo-card__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.photo-card__link:hover {
  cursor: zoom-in;
}


.info{
  display: flex;
}

.info-item{
  text-align: center;
}

.img-thumb{
  width: 100%;
  height: 200px;
  
}

.load-more{
    width: 150px;
    height: 50px;

    background-color: #2196F3;
    color: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    border-color: transparent;

    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;

    cursor: pointer;

    margin-bottom: 10px;

 
   
}

.load-more:hover,
.load-more:focus{
    background-color:  #0b7dda;

}

.btn-thumb{
    display: flex;
    justify-content: center;
}

